.login-form {
	width: 320px;
	padding: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -160px;
	margin-top: -110px;
}

.login-form-forgot {
	float: right;
}

.login-form-button {
	width: 100%;
}
