.login-panel {
  width: 320px;
  height: 240px;
  padding: 30px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -120px;
  box-shadow: 0 0 100px rgba(0,0,0,.08);
  .ant-form-item {
    margin-bottom: 20px;
  }
  .ant-btn {
    width: 100%;
  }
}