@import "_theme.scss";

.main-panel {
	margin-top: 10px;
	background: #fff;
	.main-panel-header {
		line-height: 40px;
		padding: 0 15px;
		font-weight: 600;
		h2 {
			font-size: 14px;
			display: inline;
			margin-right: 10px;
			font-weight: 600;
		}
		span {
			font-weight: normal;
			font-size: 12px;
		}
	}
}