<nz-layout class="main-layout">
	<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
		<div class="main-logo"></div>
		<ul class="main-menu" nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
			<li nz-submenu>
				<span title><i nz-icon type="user"></i><span class="nav-text">User</span></span>
				<ul>
					<li nz-menu-item>Tom</li>
					<li nz-menu-item>Bill</li>
					<li nz-menu-item>Alex</li>
				</ul>
			</li>
			<li nz-submenu>
				<span title><i nz-icon type="team"></i><span class="nav-text">Team</span></span>
				<ul>
					<li nz-menu-item>Team 1</li>
					<li nz-menu-item>Team 2</li>
				</ul>
			</li>
			<li nz-menu-item>
				<span><i nz-icon type="file"></i><span class="nav-text">File</span></span>
			</li>
		</ul>
	</nz-sider>
	<nz-layout>
		<nz-header>
			<i
				class="sider-trigger"
				nz-icon
				[type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
				(click)="isCollapsed = !isCollapsed"
			></i>
		</nz-header>
		<nz-content>
			<router-outlet></router-outlet>
		</nz-content>
	</nz-layout>
</nz-layout>
<!-- <ng-template #trigger>
	<i nz-icon type="up"></i>
</ng-template> -->