/**
 * 主题色
 * @type {[type]}
 */
$theme-color: #1890ff;


/**
 * 文字颜色
 */
$text-color: #333;


/**
 * 浅文字色
 */
$light-text-color: #666;


/**
 * hover色
 */
$hover-color: #40a9ff;


/**
 * 分割颜色
 */
$line-color: #ddd;


/**
 * 深背景色
 */
$dark-bg: #001529;


/**
 * 浅背景色
 */
$light-bg: #f8fafb;


/**
 * 边框线
 */
$border-color: #e4e9ed;